<div class="container">
  <div class="conteudo">
    <h2>Ordem de Serviço</h2>
    <div>
      <div class="">
        <app-menu panelId="config" linkText="Instalacao e Configuraçoes">
          <app-checks
            [items]="configuracao"
            (selectionChanged)="atualizarSelecao($event)"
          ></app-checks>
        </app-menu>
      </div>
      <div>
        <app-menu panelId="t-fiscal" linkText="Treinamento Fiscal" content="teste">
          <app-checks
            [items]="treinamentoFiscal"
            (selectionChanged)="atualizarTreinamento($event)"
          ></app-checks>
        </app-menu>
      </div>
      <div>
        <app-menu panelId="t-gerencial" linkText="Treinamento gerencial" content="teste">
          <app-checks></app-checks>
        </app-menu>
      </div>
      <div>
        <app-menu panelId="t-rhid" linkText="Treinamento RHID" content="teste">
          <app-checks
            [items]="treinamentoRHID"
            (selectionChanged)="atualizarTreinamento($event)"
          ></app-checks>
        </app-menu>
      </div>
    </div>

    <div class="lista">
      <h4>Configuraçoes Executadas :</h4>
      @for (item of listaConfig; track $index) {
      <li>{{item}}</li>
      }
      <div class="lista">
        <h4>Treinamento Repassado :</h4>
        @for (item of listaTreinamento; track $index) {
        <li>{{item}}</li>
        }

        <button class="btn btn-danger" (click)="(copyToClipboard())">Copiar Texto</button>
        <router-outlet />
      </div>
    </div>
  </div>
</div>
