<div class="contain">
  <div class="conteudo">
    <h2>Ordem de Serviço</h2>
    <div>
      <!-- CONFIG INSTALAÇOES -->
      <div>
        <app-menu
          panelId="config"
          linkText='<i class="fas fa-cog"></i>  Instalação e Configurações'
        >
          <app-checks
            [items]="configuracao"
            (selectionChanged)="atualizarSelecao($event)"
          ></app-checks>
        </app-menu>
      </div>
      <!-- CONFIG TREINAMENTO FISCAL -->
      <div>
        <app-menu
          panelId="t-fiscal"
          linkText='<i class="fa-solid fa-newspaper"></i> Treinamento Fiscal'
          content="teste"
        >
          <app-checks
            [items]="treinamentoFiscal"
            (selectionChanged)="atualizarTreinamento($event)"
          ></app-checks>
        </app-menu>
      </div>
      <!-- CONFIG TREINAMENTO GERENCIAL -->
      <div>
        <app-menu
          panelId="t-gerencial"
          linkText='<i class="fa-solid fa-store"></i>Treinamento Gerencial '
          content="teste"
        >
          <app-checks
            [items]="treinamentoGerencial"
            (selectionChanged)="atualizarTreinamento($event)"
          ></app-checks>
        </app-menu>
      </div>
      <!-- CONFIG TREINAMENTO RHID -->
      <div>
        <app-menu
          panelId="t-rhid"
          linkText=' <i class="fa-regular fa-clock"></i> Treinamento RHID'
          content="teste"
        >
          <app-checks
            [items]="treinamentoRHID"
            (selectionChanged)="atualizarTreinamento($event)"
          ></app-checks>
        </app-menu>
      </div>

      <!-- CONFIG TREINAMENTO CHEFF -->
      <div>
        <app-menu
          panelId="t-cheff"
          linkText=' <i class="fa-regular fa-clock"></i> Treinamento Cheff'
          content="teste"
        >
          <app-checks
            [items]="treinamentoCheff"
            (selectionChanged)="atualizarTreinamento($event)"
          ></app-checks>
        </app-menu>
      </div>
    </div>

    <div class="obs">
      <h5>Observaçäo Adicionais</h5>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="6"
        [(ngModel)]="obs_adc"
      ></textarea>
    </div>

    <!-- Button trigger modal -->

    @if (verificarCheck()) {
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      <i class="fa-regular fa-paste"></i> Visualizar Relatorio
    </button>
    }

    <!-- Modal -->

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Relatório Técnico</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="lista">
              @if (listaConfig.length >0) {
              <h4>Configuraçoes Executadas :</h4>
              @for (item of listaConfig; track $index) {
              <li>{{item}}</li>
              } } @if (listaTreinamento.length > 0) {
              <div class="lista">
                <h4>Treinamento Repassado :</h4>
                @for (item of listaTreinamento; track $index) {
                <li>{{item}}</li>

                }
              </div>
              } @if ( obs_adc.length >0) {
              <h4>Informaçoes Adicionais :</h4>
              {{obs_adc}} }
              <router-outlet />
            </div>
          </div>

          <div class="assinatura">
            <button class="btn btn-primary btn-sm" (click)="navegarAssintatura()">
              Adicionar Assinatura
            </button>
          </div>

          <div class="modal-footer">
            <input
              type="file"
              class="form-control"
              id="fileInput"
              (change)="onFileSelected($event)"
            />
            <button type="button" class="btn btn-danger" (click)="processarPdf()">
              <i class="fa-solid fa-download"></i> Baixar PDF
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
            <button type="button" class="btn btn-primary" (click)="gerarTextoCombinado()">
              <i class="fa-solid fa-print"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
