<div class="containter">
  <h6>Assinatura</h6>

  <div class="signature-container">
    <canvas #signaturePad> </canvas>
    <div class="guideline"></div>
  </div>
  <div class="btn-container">
    <div>
      <button class="btn btn-danger" (click)="clear()">
        <i class="fa-solid fa-broom"></i>Limpar
      </button>
    </div>
    <div>
      <button class="btn btn-success" (click)="save()">
        <i class="fa-solid fa-cloud-arrow-up"></i>Salvar
      </button>
    </div>
    <div>
      <button class="btn btn-primary" (click)="voltar()">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
    </div>

    @if (assinaturaLocalStorage === false) {
    <div>
      <button class="btn btn-primary btn-sm" (click)="saveTecnico()">Assinatura Tecnico</button>
    </div>
    }
  </div>
</div>
