.signature-container {
  width: 97vw;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

canvas {
  width: 92vw;
  height: 250px;
  touch-action: none;
}

.btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.guideline {
  position: absolute;
  top: 70%; /* Adjust as needed */
  left: 10%;
  width: 90%;
  height: 2px; /* Line thickness */
  background-color: red; /* Line color */
  z-index: 10; /* Ensure it's above the canvas */
}
