.signature-container {
  width: 100vw;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  width: 90vw;
  height: 200px;
  touch-action: none;
}

.btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-evenly;
}
