<div class="containter">
  <h6>Assinatura</h6>

  <div class="signature-container">
    <canvas #signaturePad> </canvas>
    <div class="guideline"></div>
  </div>
  <div class="btn-container">
    <div>
      <button class="btn btn-danger btn-sm" (click)="clear()">Limpar</button>
    </div>
    <div>
      <button class="btn btn-success btn-sm" (click)="save()">Salvar</button>
    </div>
    <div>
      <button class="btn btn-success btn-sm" (click)="save()">Voltar</button>
    </div>
  </div>
</div>
